@model E_Banking_MVC.ViewModels.PaymentPaymentsViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Payments</title>
    <style></style>
    <script src=""></script>
</head>
<body>

</body>
</html>
